@font-face {
    font-family: TimesDot;
    src: url(fonts/TimesDotRom.otf);
}

* {
    cursor: url("img/thing.png") 50 58, auto;
    /* cursor: crosshair; */
}

body {
    overflow: none;
    background-color: black;
    /* cursor: url("img/cool.png"), auto; */
}

